/*! baseline.css v2.0.0 | https://github.com/ryanmorr/baseline.css */

/* --------------------------------------------------------------------------- *\
    Global
\* --------------------------------------------------------------------------- */

/**
 * 1. Remove the default margin and padding of all elements (opinionated).
 * 2. Remove default borders and make border styling consistent (opinionated).
 * 3. Remove repeating backgrounds (opinionated).
 * 4. Add box model inheritance to allow overridding it (opinionated).
 */

*,
*::before,
*::after {
    margin: 0; /* 1 */
    padding: 0; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: currentColor; /* 2 */
    background-repeat: no-repeat; /* 3 */
    box-sizing: inherit; /* 4 */
}

/**
 * Remove focus outline for mouse/pointer based interactions (opinionated).
 */

*:focus:not(:focus-visible),
*::before:focus:not(:focus-visible),
*::after:focus:not(:focus-visible) {
    outline: none;
}

/**
 * 1. Improve consistency of default fonts (opinionated).
 * 2. Add the default cursor (opinionated).
 * 3. Change the line height (opinionated)
 * 4. Use a 4-space tab width (opinionated).
 * 5. Prevent adjustments of font size after orientation changes.
 * 6. Globally remove the tap highlight color in iOS and Android (opinionated).
 * 7. Use a better box model (opinionated).
 * 8. Breaks words to prevent overflow (opinionated).
 * 9. Enable animated scrolling to anchor links (opinionated).
 * 10. Prevent unwanted layout shifts caused by scrollbars (opinionated).
 */

:where(:root) {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"; /* 1 */

    cursor: default; /* 2 */
    line-height: 1.15; /* 3 */
    -moz-tab-size: 4; /* 4 */
    tab-size: 4; /* 4 */
    -webkit-text-size-adjust: 100%; /* 5 */
    text-size-adjust: 100%; /* 5 */
    -webkit-tap-highlight-color: transparent; /* 6 */
    box-sizing: border-box; /* 7 */
    overflow-wrap: break-word; /* 8 */
    scroll-behavior: smooth; /* 9 */
    scrollbar-gutter: stable; /* 10 */
}

/**
 * Enable percentage-based heights
 */

:where(html, body) {
    height: 100%;
}

/*
 * 1. Remove animated scrolling when motion is reduced (opinionated).
 * 2. Remove animations when motion is reduced (opinionated).
 * 3. Remove transitions when motion is reduced (opinionated).
 */

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto !important; /* 1 */
    }

    *,
    *::before,
    *::after {
        scroll-behavior: auto !important; /* 1 */
        animation-duration: 0.01ms !important; /* 2 */
        animation-iteration-count: 1 !important; /* 2 */
        transition-duration: 0.01ms !important; /* 3 */
        transition-delay: 0s !important; /* 3 */
    }
}

/* --------------------------------------------------------------------------- *\
    General Elements
\* --------------------------------------------------------------------------- */

/**
 * Remove list styles for unordered lists and menus
 */

:where(ul, menu) {
    list-style: none;
}

/**
 * Collapse border spacing (opinionated).
 */

:where(table) {
    border-collapse: collapse;
}

/* --------------------------------------------------------------------------- *\
    Embedded Content
\* --------------------------------------------------------------------------- */

/*
 * 1. Make elements display block for consistency (opinionated).
 * 2. Remove the white space under the element in case its display is
 *    overridden (opinionated).
 * 3. Make elements responsive by default (opinionated).
 */

:where(img, picture, audio, canvas, iframe, svg, video) {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
    max-width: 100%; /* 3 */
    height: auto; /* 3 */
}

/**
 * Change the fill color to match the text color (opinionated).
 */

:where(svg:not([fill])) {
    fill: currentColor;
}
