/* --------------------------------------------------------------------------- *\
    Document
\* --------------------------------------------------------------------------- */

/**
 * 1. Add the default cursor in all browsers (opinionated).
 * 2. Ensure a base font size of 16 pixels.
 * 3. Correct the line height in all browsers.
 * 4. Use a 4-space tab width in all browsers (opinionated).
 * 5. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 * 6. Globally remove the tap highlight color in iOS and Android (opinionated).
 * 7. Use a better box model (opinionated).
 * 8. Breaks words to prevent overflow in all browsers (opinionated).
 */

:root {
    cursor: default; /* 1 */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; /* 2 */
    line-height: 1.15; /* 3 */
    -moz-tab-size: 4; /* 4 */
    tab-size: 4; /* 4 */
    -ms-text-size-adjust: 100%; /* 5 */
    -webkit-text-size-adjust: 100%; /* 5 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 6 */
    box-sizing: border-box; /* 7 */
    word-break: break-word; /* 8 */
}

/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 2. Remove repeating backgrounds in all browsers (opinionated).
 * 3. Add box model inheritance to allow overridding it when
 *    necessary (opinionated).
 */

*,
::after,
::before {
    margin: 0; /* 1 */
    padding: 0; /* 1 */
    border: 0; /* 1 */
    background: transparent; /* 1 */
    background-repeat: no-repeat; /* 2 */
    box-sizing: inherit; /* 3 */
}

/* --------------------------------------------------------------------------- *\
    Typography
\* --------------------------------------------------------------------------- */

/**
 * Set font sizes for each heading level and switch to using rem units
 * to remove nested-shrinking sizes (opinionated).
 */

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.17rem;
}

h4 {
    font-size: 1rem;
}

h5 {
    font-size: 0.83rem;
}

h6 {
    font-size: 0.67rem;
}

/* --------------------------------------------------------------------------- *\
    General Elements
\* --------------------------------------------------------------------------- */

/**
 * Remove the outline when hovering in all browsers (opinionated).
 */

a:active,
a:hover {
    outline-width: 0;
}

/**
 * Add the correct height in Firefox.
 */

hr {
    height: 0;
}

/**
 * Remove the list style on unordered lists (opinionated).
 */

ul {
    list-style: none;
}

/**
 * Add the correct text decoration in Chrome, Edge, and Safari.
 */

abbr[title] {
    text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * 1. Use the default monospace user interface font in all
 *    browsers (opinionated).
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp,
pre {
    font-family: Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/*
 * Preserve new lines, spaces, and tabs but force text wrapping (opinionated).
 */

pre {
    white-space: pre-wrap;
}

/**
 * 1. Make tables fill the entire width of their containers (opinionated).
 * 2. Collapse border spacing in all browsers (opinionated).
 * 3. Prevent coloumn overflow (opinionated).
 */

table {
    width: 100%; /* 1 */
    border-collapse: collapse; /* 2 */
    table-layout: fixed; /* 3 */
}

/**
 * 1. Make column text align left by default (opinionated).
 * 2. Make font weight normal by default (opinionated).
 */

td,
th {
  text-align: left; /* 1 */
  font-weight: normal; /* 2 */
}

/**
 * Prevent `sub` and `sup` elements from affecting the line
 * height in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/**
 * Add italics not present in Safari and Chrome.
 */

dfn {
    font-style: italic;
}

/* --------------------------------------------------------------------------- *\
    Forms
\* --------------------------------------------------------------------------- */

/**
 * Inherit styling in all browsers (opinionated).
 */

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */

optgroup {
    font-weight: bold;
}

/**
 * Remove the inheritance of text transform in Edge and Firefox.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * 1. Apply cursor pointer to button elements (opinionated).
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor: pointer; /* 1 */
    -webkit-appearance: button; /* 2 */
}

/*
 * Prevent button text from being selectable.
 */

button {
    user-select: none;
}

/**
 * Restore button focus outline in Firefox/IE due to
 * transparent background reset
 */

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

/**
 * Correct the text wrapping in Edge.
 */

legend {
    display: table;
    max-width: 100%;
    white-space: normal;
}

/*
 * Allow only vertical resizing of all textareas (opinionated).
 */

textarea {
    resize: vertical;
}

/**
 * Remove the inner border and padding in Firefox.
 */

::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari.
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

/* ------------------------------------------------------------------ *\
    Media
\* ------------------------------------------------------------------ */

/*
 * 1. Make media elements responsive that maintain their aspect ratios (opinionated).
 * 2. Remove the default white space at the bottom of the element (opinionated).
 */

img,
audio,
canvas,
iframe,
svg,
video {
    max-width: 100%; /* 1 */
    height: auto; /* 1 */
    vertical-align: middle; /* 2 */
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/*
 * Offset `alt` text from surrounding copy (opinionated).
 */

img {
    font-style: italic;
}

/**
 * If `width` and/or `height` attributes are preset, disable the
 * image's responsive behavior (opinionated).
 */

img[width],
img[height] {
    max-width: none;
}

/**
 * 1. Add the correct display in Edge.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    display: inline-block; /* 1 */
    vertical-align: baseline; /* 2 */
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg:not([fill]) {
    fill: currentColor;
}

/* ------------------------------------------------------------------ *\
    Interactive
\* ------------------------------------------------------------------ */

/*
 * 1. Add the correct display in all browsers.
 * 2. Apply cursor pointer (opinionated).
 */

summary {
    display: list-item;
    cursor: pointer;
}

/*
 * Add the correct styles in Edge, IE, and Safari.
 */

dialog {
    background-color: white;
    border: solid;
    color: black;
    display: block;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    left: 0;
    margin: auto;
    padding: 1em;
    position: absolute;
    right: 0;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

dialog:not([open]) {
    display: none;
}

/* ------------------------------------------------------------------ *\
    User Interaction
\* ------------------------------------------------------------------ */

/*
 * Remove the tapping delay on clickable elements in all browsers (opinionated).
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    touch-action: manipulation;
}

/*
 * 1. Restore the coloring undone by defining the text shadow in all browsers (opinionated).
 * 2. Remove the text shadow on text selections in Firefox 61- (opinionated).
 */

::-moz-selection {
    background-color: #b3d4fc; /* 1 */
    color: #000; /* 1 */
    text-shadow: none;  /* 2 */
}

::selection {
    background-color: #b3d4fc; /* 1 */
    color: #000; /* 1 */
    text-shadow: none;  /* 2 */
}

/* ------------------------------------------------------------------ *\
    Accessibility
\* ------------------------------------------------------------------ */

/**
 * Change the cursor on busy elements in all browsers (opinionated).
 */

[aria-busy="true"] {
    cursor: progress;
}

/*
 * Change the cursor on control elements in all browsers (opinionated).
 */

[aria-controls],
[role="button"] {
    cursor: pointer;
}

/*
 * 1. Change the cursor on disabled, not-editable, or otherwise
 *    inoperable elements in all browsers (opinionated).
 * 2. Prevent user interaction (opinionated).
 */

[aria-disabled="true"],
[disabled] {
    cursor: not-allowed; /* 1 */
    pointer-events: none;  /* 2 */
}

/*
 * Change the display on visually hidden accessible elements
 * in all browsers (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute;
}
