/*! baseline.css v2.0.0 | https://github.com/ryanmorr/baseline.css */

/* --------------------------------------------------------------------------- *\
    Global
\* --------------------------------------------------------------------------- */

/**
 * 1. Remove the default margin and padding of all elements
 * 2. Remove default borders and make border styling consistent
 * 3. Remove repeating backgrounds
 * 4. Add box model inheritance to allow overridding it
 */

*,
*::before,
*::after {
    margin: 0; /* 1 */
    padding: 0; /* 1 */
    border-width: 0; /* 2 */
    border-style: solid; /* 2 */
    border-color: currentcolor; /* 2 */
    background-repeat: no-repeat; /* 3 */
    box-sizing: inherit; /* 4 */
}

/**
 * Remove focus outline for mouse/pointer based interactions
 */

:where(:focus:not(:focus-visible)) {
    outline: none;
}

/**
 * 1. Improve consistency of default fonts
 * 2. Add the default cursor
 * 3. Set a consistent and sensible line height
 * 4. Use a 4-space tab width
 * 5. Prevent adjustments of font size after orientation changes
 * 6. Globally remove the tap highlight color in iOS and Android
 * 7. Use a better box model
 * 8. Breaks words to prevent overflow
 * 9. Enable animated scrolling to anchor links
 * 10. Prevent unwanted layout shifts caused by scrollbars
 */

:where(:root) {
    font-family:
        ui-sans-serif,
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        "Noto Sans",
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji"; /* 1 */

    cursor: default; /* 2 */
    line-height: 1.5; /* 3 */
    -moz-tab-size: 4; /* 4 */
    tab-size: 4; /* 4 */
    -webkit-text-size-adjust: 100%; /* 5 */
    text-size-adjust: 100%; /* 5 */
    -webkit-tap-highlight-color: transparent; /* 6 */
    box-sizing: border-box; /* 7 */
    overflow-wrap: break-word; /* 8 */
    scroll-behavior: smooth; /* 9 */
    scrollbar-gutter: stable; /* 10 */
}

/**
 * Enable percentage-based heights
 */

:where(html, body) {
    height: 100%;
}

/*
 * 1. Remove animated scrolling when motion is reduced
 * 2. Remove animations when motion is reduced
 * 3. Remove transitions when motion is reduced
 */

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        scroll-behavior: auto !important; /* 1 */
        animation-duration: 0.01ms !important; /* 2 */
        animation-iteration-count: 1 !important; /* 2 */
        transition-duration: 0.01ms !important; /* 3 */
        transition-delay: 0s !important; /* 3 */
    }
}

/* --------------------------------------------------------------------------- *\
    General Elements
\* --------------------------------------------------------------------------- */

/**
 * 1. Correct border color in Firefox
 * 2. Add the correct box sizing in Firefox
 * 3. Ensure horizontal rules are visible
 */

:where(hr) {
    color: inherit; /* 1 */
    height: 0; /* 2 */
    border-top-width: 1px; /* 3 */
}

/**
 * Remove list styles for unordered lists and menus
 */

:where(ul, menu) {
    list-style: none;
}

/**
 * Collapse border spacing
 */

:where(table) {
    border-collapse: collapse;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari
 */

:where(b, strong) {
    font-weight: bolder;
}

/**
 * Add the correct font size
 */

:where(small) {
    font-size: 80%;
}

/* --------------------------------------------------------------------------- *\
    Media
\* --------------------------------------------------------------------------- */

/*
 * 1. Make elements display block for consistency
 * 2. Remove the white space under the element in case its display is
 *    overridden
 * 3. Make media elements responsive
 */

:where(img, picture, audio, canvas, iframe, svg, video) {
    display: block; /* 1 */
    vertical-align: middle; /* 2 */
    max-width: 100%; /* 3 */
}

/**
 * Maintain aspect ratio when the element is resized
 */

:where(img, picture, iframe, video) {
    height: auto;
}

/**
 * Change the fill color to match the text color
 */

:where(svg:not([fill])) {
    fill: currentcolor;
}

/* --------------------------------------------------------------------------- *\
    Forms
\* --------------------------------------------------------------------------- */

/**
 * 1. Normalize the inconsistent appearance between browsers
 * 2. Inherit the typography from the parent element
 */

:where(button, input, select, textarea) {
    background-color: transparent; /* 1 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}

/**
 * Remove the default appearance
 */

:where(select) {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
}

/**
 * Make form fields responsive
 */

:where(input, select, textarea) {
    height: auto;
    max-width: 100%;
}

/**
 * Correct the inability to style buttons in iOS and Safari
 */

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
    -webkit-appearance: button;
}

/**
 * Add the correct vertical alignment in Chrome, Edge, and Firefox
 */

:where(progress) {
    vertical-align: baseline;
}

/**
 * Enable vertical resizing
 */

:where(textarea) {
    resize: vertical;
}

/**
 * 1. Correct the odd appearance in Chrome, Edge, and Safari
 * 2. Correct the outline style in Safari
 */

:where([type="search" i]) {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Safari
 */

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari
 */

::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

/**
 * Remove the inner padding in Chrome, Edge, and Safari on macOS
 */

::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style upload buttons in iOS and Safari
 * 2. Change font properties to `inherit` in Safari
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* ------------------------------------------------------------------ *\
    Accessibility
\* ------------------------------------------------------------------ */

/**
 * Change the cursor on busy elements
 */

:where([aria-busy="true" i]) {
    cursor: progress;
}

/*
 * Change the cursor on actionable elements
 */

[aria-controls],
[role="button"] {
    cursor: pointer;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements
 */

:where([aria-disabled="true" i], [disabled]) {
    cursor: not-allowed;
}
