/*! baseline.css v0.1.0 | https://github.com/ryanmorr/baseline.css */

/**
 * Define the character encoding for this style sheet
 */

@charset "UTF-8";

/* ------------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------------ */

/**
 * All opinionated-based styles are defined using the following
 * variables, adjust per your preferences
 */

:root {
    --font-color: #333;
    --font-size: 1.6em;
    --line-height: 1.6;
    --font-family: sans-serif;
}

/* ------------------------------------------------------------------ *\
    Global
\* ------------------------------------------------------------------ */

/**
 * Apply a base font size of 10 pixels to better facilitate em units
 * by simplifying calculations (1.4em = 14px)
 */

html {
    font-size: 10px;
}

/**
 * Define global font styles and line height
 */

body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
}

/* ------------------------------------------------------------------ *\
    Print
\* ------------------------------------------------------------------ */

/**
 * Optimize the page for printing
 * Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
 */

@media print {
    *,
    *::before,
    *::after,
    *::first-letter,
    *::first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
