/*! baseline.css v0.1.0 | https://github.com/ryanmorr/baseline.css */

/**
 * Define the character encoding for the stylesheet
 */

@charset "UTF-8";

/**
 * Build on top of `normalize.css` for a consistent base layer
 */

@import "normalize.css";

/* ------------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------------ */

/**
 * Variables for some of the opinionated-based styles, adjust
 * accordingly
 */

:root {
    --font-color: #333;
    --font-size: 1.4em;
    --font-family: sans-serif;
    --line-height: 1.5;
    --page-min-width: 300px;
}

/* ------------------------------------------------------------------ *\
    Page
\* ------------------------------------------------------------------ */

/**
 * 1. Add the default cursor in all browsers.
 * 2. Ensure the page's width cannot be minimized below the specified
 *    breakpoint
 * 3. Force scrollbars to always be visible to prevent awkward ‘jumps’
 *    when navigating between pages that do/do not have enough content
 *    to produce scrollbars naturally
 * 4. Force a scrollbar that is always visible and pushes the content
 *    (not overlays it) in Edge 12+ and IE 10
 * 5. Globally remove the tap highlight color in iOS and Android
 * 6. Optimize for responsive design by resetting the box model to
 *    include the padding and border within the declared width/height
 * 7. Apply a base font size of 10 pixels to better facilitate rem
 *    units by simplifying calculations (1.4rem = 14px)
 */

html {
    cursor: default; /* [1] */
    min-width: var(--page-min-width); /* [2] */
    overflow-y: scroll; /* [3] */
    -ms-overflow-style: scrollbar; /* [4] */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* [5] */
    box-sizing: border-box; /* [6] */
    font-size: 10px; /* [7] */
}

/**
 * Set the default typography for the entire project based on
 * the default variables
 */

body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
}

/**
 * Ensure the page always fills at least the entire height of
 * the viewport
 */

html,
body {
    min-height: 100%;
}

/* ------------------------------------------------------------------ *\
    Global
\* ------------------------------------------------------------------ */

/**
 * 1. Remove the default styling in all browsers
 * 2. Remove repeating backgrounds in all browsers
 * 3. Inherit the typography of the parent element
 * 4. Align the baseline of the element with the baseline of its parent
 * 5. Allow elements to inherit their box model to take advantage
 *    of `border-box` by default with the added flexibility of
 *    being able to override it where necessary
 */

*,
::after,
::before {
    margin: 0; /* [1] */
    padding: 0; /* [1] */
    border: 0; /* [1] */
    background: transparent; /* [1] */
    background-repeat: no-repeat; /* [2] */
    font: inherit; /* [3] */
    font-size: inherit; /* [3] */
    vertical-align: baseline; /* [4] */
    box-sizing: inherit; /* [5] */
}

/* ------------------------------------------------------------------ *\
    Typography
\* ------------------------------------------------------------------ */

/**
 * Bold headings and optimize legibility
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/**
 * Set relative font sizes for each heading level
 */

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

/**
 * Restore the margin between paragraphs
 */

p + * {
    margin-top: 1em;
}

/**
 * Hide empty paragraphs
 */

p:empty {
    display: none;
}

/**
 * Force word breaks on small screens
 */

@media (max-width: 767px) {
    /**
     * 1. Ensure the text will wrap without breaking out of
     *    its container
     * 2. Add hyphens where a word breaks
     */

    body {
        word-wrap: break-word; /* [1] */
        overflow-wrap: break-word; /* [1] */
        hyphens: auto; /* [2] */
    }
}

/* ------------------------------------------------------------------ *\
    ELements
\* ------------------------------------------------------------------ */

/**
 * Remove border separation and spacing
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Remove the list style on nav lists in all browsers
 */

nav ol,
nav ul {
    list-style: none;
}

/**
 * Remove default quotes
 */

blockquote,
q {
    quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: '';
    content: none;
}

/**
 * Indicate that an element is a helpful resource
 */

abbr[title],
dfn[title] {
    cursor: help;
}

/* ------------------------------------------------------------------ *\
    Forms
\* ------------------------------------------------------------------ */

/**
 * Remove the default styling in all browsers
 */

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none;
    color: inherit;
    font-size: 1em;
}

/*
 * Apply visual indication that a form element is actionable
 */

button,
label,
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"],
input[type="image"] {
    cursor: pointer;
}

/*
 * Allow only vertical resizing of textareas
 */

textarea {
    resize: vertical;
}

/*
 * 1. Ensure the height of multiple select elements is not fixed
 * 2. Prevent scrollbars from appearing by default
 */

select[multiple],
select[size] {
    height: auto; /* [1] */
    overflow: auto; /* [2] */
}

/*
 * Ensure labels align vertically to their respective form element
 * in a visually appealing manner
 */

input,
select {
    vertical-align: middle;
}

input[type="radio"] {
    vertical-align: text-bottom;
}

input[type="checkbox"] {
    vertical-align: bottom;
}

select[multiple],
select[size],
textarea {
    vertical-align: top;
}

/*
 * 1. Indicate that the field is inoperable
 * 2. Prevent resizing
 */

:disabled {
    opacity: 0.7; /* [1] */
    cursor: not-allowed; /* [1] */
    resize: none; /* [2] */
}

/*
 * Indicate on focus that a field is invalid
 */

:invalid:focus {
    outline-color: #f44336;
}

/* ------------------------------------------------------------------ *\
    Embedded Content
\* ------------------------------------------------------------------ */

/*
 * Remove the default white space at the bottom of the element
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/**
 * Responsive media elements that maintain their aspect ratios
 */

audio,
embed,
img,
object,
video {
    max-width: 100%;
}

embed,
img,
object,
video {
    height: auto;
}

embed,
object {
    height: 100%;
}

/**
 * if `width` and/or `height` attributes are preset, disable the
 * image's responsive behavior
 */

img[width],
img[height] {
    max-width: none;
}

/* ------------------------------------------------------------------ *\
    Interaction
\* ------------------------------------------------------------------ */

/**
 * Prevent the focus outline on elements that cannot be navigated
 * to via keyboard
 */

[tabindex="-1"]:focus {
    outline: none !important;
}

/**
 * Remove click delay on actionable elements
 */

a,
area,
button,
input,
label,
select,
textarea,
[tabindex]:not([tabindex="-1"]) {
    touch-action: manipulation;
}

/**
 * Indicate that a non-form element is inoperable
 * 2. Prevent user interaction
 */

[aria-disabled]:not(:disabled),
[disabled]:not(:disabled) {
    cursor: default; /* [1] */
    opacity: 0.7; /* [1] */
    pointer-events: none; /* [2] */
}

/**
 * Remove the text shadow on text selections
 */

::selection {
    background-color: #b3d4fc;
    color: #000;
    text-shadow: none;
}

/* ------------------------------------------------------------------ *\
    Accessibility
\* ------------------------------------------------------------------ */

/**
 * Indicate that an element is loading
 */

[aria-busy="true"] {
    cursor: progress;
}

/*
 * Indicate that an element is actionable
 */

[aria-controls],
[role="button"] {
    cursor: pointer;
}

/*
 * Allow hidden elements to be accessible when focused
 * Source: https://github.com/10up/sanitize.css
 */

[hidden][aria-hidden="false"] {
    clip: rect(0, 0, 0, 0);
    display: inherit;
    position: absolute;
}

[hidden][aria-hidden="false"]:focus {
    clip: auto;
}

/* ------------------------------------------------------------------ *\
    Print
\* ------------------------------------------------------------------ */

/**
 * Optimize the page for printing
 * Source: https://github.com/h5bp/html5-boilerplate
 */

@media print {
    *,
    *::before,
    *::after,
    *::first-letter,
    *::first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
