/* ------------------------------------------------------------------ *\
    ELements
\* ------------------------------------------------------------------ */

/**
 * Center the main content
 */

main {
    margin-left: auto;
    margin-right: auto;
}

/**
 * Add clearfix to main
 */

main::before,
main::after {
    content: " ";
    display: table;
}

main::after {
    clear: both;
}

/**
 * Remove border separation and spacing
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**
 * Remove the list style on nav lists in all browsers
 */

nav ol,
nav ul {
    list-style: none;
}

/**
 * Remove default quotes
 */

blockquote,
q {
    quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
    content: '';
    content: none;
}

/**
 * Indicate that an element is a helpful resource
 */

abbr[title],
dfn[title] {
    cursor: help;
}

/*
 * 1. Provide scrollbars if the content exceeds its height
 * 2. Preserve new lines, spaces, and tabs but force text wrapping
 */

pre {
    overflow: auto; /* [1] */
    white-space: pre-wrap;  /* [2] */
}
