/* ------------------------------------------------------------------ *\
    Global
\* ------------------------------------------------------------------ */

/**
 * 1. Remove the default styling in all browsers
 * 2. Remove repeating backgrounds in all browsers
 * 3. Inherit the typography of the parent element
 * 4. Align the baseline of the element with the baseline of its parent
 * 5. Allow elements to inherit their box model to take advantage
 *    of `border-box` by default with the added flexibility of
 *    being able to override it where necessary
 */

*,
::after,
::before {
    margin: 0; /* [1] */
    padding: 0; /* [1] */
    border: 0; /* [1] */
    background: transparent; /* [1] */
    background-repeat: no-repeat; /* [2] */
    font: inherit; /* [3] */
    font-size: inherit; /* [3] */
    vertical-align: baseline; /* [4] */
    box-sizing: inherit; /* [5] */
}
