/* ------------------------------------------------------------------ *\
    Interaction
\* ------------------------------------------------------------------ */

/**
 * Prevent the focus outline on elements that cannot be navigated
 * to via keyboard
 */

[tabindex="-1"]:focus {
    outline: none !important;
}

/**
 * Remove click delay on actionable elements
 */

a,
area,
button,
input,
label,
select,
textarea,
[tabindex]:not([tabindex="-1"]) {
    touch-action: manipulation;
}

/**
 * 1. Indicate that a non-form element is inoperable
 * 2. Prevent user interaction
 * 3. Remove focus outline
 */

[aria-disabled]:not(:disabled),
[disabled]:not(:disabled) {
    cursor: default; /* [1] */
    opacity: var(--disabled-opacity); /* [1] */
    pointer-events: none; /* [2] */
    outline-width: 0; /* [3] */
}

/**
 * Remove the text shadow on text selections
 */

::selection {
    background-color: var(--selection-background-color);
    color: var(--selection-font-color);
    text-shadow: none;
}
