/* ------------------------------------------------------------------ *\
    Links
\* ------------------------------------------------------------------ */

/**
 * 1. Set default font color and text decoration for the entire
 *    project based on the default variables
 * 2. Transition links when a property changes
 */

a {
    color: var(--link-color); /* [1] */
    text-decoration: var(--link-text-decoration); /* [1] */
    transition: all 0.3s; /* [2] */
}

/**
 * Add hover/focus color based on variable
 */

a:hover,
a:focus {
    color: var(--link-hover-color);
}

/**
 * Add hover text decoration based on variable
 */

a:hover {
    text-decoration: var(--link-hover-text-decoration);
}

/**
 * Add focus outline
 */

a:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
