/* ------------------------------------------------------------------ *\
    Typography
\* ------------------------------------------------------------------ */

/**
 * Set the default typography for the entire project based on
 * the default variables
 */

body {
    color: var(--font-color);
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
}

/**
 * Bold headings and optimize legibility
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

/**
 * Set relative font sizes for each heading level
 */

h1 {
    font-size: 2.6em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

h6 {
    font-size: 1.2em;
}

/**
 * 1. Set default font color and text decoration for the entire
 *    project based on the default variables
 * 2. Transition links when a property changes
 */

a {
    color: var(--link-color); /* [1] */
    text-decoration: var(--link-text-decoration); /* [1] */
    transition: all 0.3s; /* [2] */
}

/**
 * Add hover/focus color based on variable
 */

a:hover,
a:focus {
    color: var(--link-hover-color);
}

/**
 * Add hover text decoration based on variable
 */

a:hover {
    text-decoration: var(--link-hover-text-decoration);
}

/**
 * Add focus outline
 */

a:focus {
    outline: thin dotted;
    outline: 1px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

/**
 * Restore the margin between paragraphs
 */

p + * {
    margin-top: 1em;
}

/**
 * Hide empty paragraphs
 */

p:empty {
    display: none;
}

/**
 * Force word breaks on small screens
 */

@media (max-width: 767px) {
    /**
     * 1. Ensure the text will wrap without breaking out of
     *    its container
     * 2. Add hyphens where a word breaks
     */

    body {
        word-wrap: break-word; /* [1] */
        overflow-wrap: break-word; /* [1] */
        hyphens: auto; /* [2] */
    }
}
