/* ------------------------------------------------------------------ *\
    Variables
\* ------------------------------------------------------------------ */

/**
 * Variables for some of the opinionated-based styles, adjust
 * accordingly
 */

:root {
    /* Typography */
    --font-color: #333;
    --font-size: 1.4em;
    --font-family: sans-serif;
    --line-height: 1.5;

    /* Page */
    --page-min-width: 300px;

    /* Links */
    --link-color: #337ab7;
    --link-text-decoration: none;
    --link-hover-color: #095f8a;
    --link-hover-text-decoration: underline;

    /* Forms */
    --readonly-border-color: rgba(0, 0, 0, 0.1);
    --readonly-background-color: rgba(238, 238, 238, 0.8);
    --readonly-font-color: rgba(0, 0, 0, 0.5);
    --disabled-opacity: 0.7;
    --invalid-outline-color: #f44336;

    /* Selection */
    --selection-background-color: #b3d4fc;
    --selection-font-color: #000;
}
